@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gcem-maroon: #800000;
  --color-gcem-gold: #FFD700;
  --color-gcem-gray: #f4f4f4;
  --font-sans: Inter, sans-serif;

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  --animate-marquee: marquee 25s linear infinite;
}